# Dependency Ignore
/front_end/
/jb/
/robot/
/vue/
/mui/
/php/
/www/
/yl/
/vue_devtools/
/liuweiwalliam.github.io/
/hq/
/saas_admin/
/hrm/
/hexo/
/accurate-calculate/
/*node_modules/
/nodeBasic/
/ts-react/

# IDE
.idea
.buildpath
.project
.settings
.DS_Store
.nbproject
*.iml
.metadata

# Vim swap
*.swp
.swp
.swo
*.swo
.swn
*.swn

# Config

# Tools
*.log
/.sass-cache/
/templates_c/

# Windows
desktop.ini
.sass-cache/
